<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>sclip</string>
	<key>CFBundleExecutable</key>
	<string>sclip</string>
	<key>CFBundleIdentifier</key>
	<string>com.example.sclip</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>sclip</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>LSMinimumSystemVersion</key>
	<string>11.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Copy File Path</string>
			</dict>
			<key>NSMessage</key>
			<string>copyFilePath</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSServiceContextMenu</key>
				<string>Finder</string>
			</dict>
			<key>NSPortName</key>
			<string>com.example.sclip</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
				<string>public.file-url</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
